<body>
    
  <div class="hero">
      
    <nav>
      
      <h2 class="name">Food<span>4Health</span></h2>
      <ul>
        

        <li><a href="/AboutUs">About</a></li>
        <li><a href="/blogs">Questions</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="Bootstrap-files/MainB.html">tbd</a></li>
      
      </ul>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}" class="button">login</a>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/myprofile">
        
          {{ current_user.gname }} 
        
        </a>
      <a class="button fred" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </nav>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container-fluid">
        {% for message in messages %}
       <p class="messages sb1"> {{ message }} </p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <div class="content">
      <h4>Place Holder</h4>
      <h1>Place <span>Holder</span></h1>
      <h3>THIS IS MORE PLACE HOLDER</h3>
    </div>
    <div class="section" id="arrow"></div>
  </div>
  
  
</body>


<!--
      <div class="hero">
      <nav>
        <h2 class="name">Cap<span>stone</span></h2>
        <ul>
          
 
          <li><a href="Research/ResearchName.html">Research</a></li>
          <li><a href="html-files/MainH.html">HTML</a></li>
          <li><a href="CSS-files/MainC.html">CSS</a></li>
          <li><a href="Bootstrap-files/MainB.html">BootStrap</a></li>
        
        </ul>
        <a href="#" class="btn">Cheeseburger</a>
      </nav>
    </div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">
              {{ current_user.gname }} 
            </a>
            
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>  
-->