<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/CSS/recipe.CSS">
    
    
</head>
<body2>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Food<span>4Health</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipes">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</body2>
{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Recipes</h1>
    </div>
    <div class="col">
        <a href="/recipe/new" class="btn btn-primary btn-sm mt-5" role="button">New Recipe</a>
    </div>
</div>
{% if recipes %}
    {% for recipe in recipes %}

    <div class="recipe-card">
        
        <figure>
            {% if recipe.recimage %}
            <img width="1000" src="data:image;base64,{{base64encode(recipe.recimage.read())}}">
            {% endif %}
        </figure>
        <div class="card-meta">
           
            <p class="dish-type top:-5px">
                
               {{recipe.genre}}
            </p>
           <!--TODO:-->
                <ul class="dish-stats"> 
                   
                    <li>{{recipe.time}} hrs</li>
                    <li>lorem likes</li>
                </ul>
            

        </div><!--end of meta-->
        <h1><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h1>
    </div> <!--end of recipe card-->
<!--
    
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}
                {{recipe.create_date}}

                <a href="/recipe/{{recipe.id}}">
                    {{recipe.create_date}}
                    {{moment(recipe.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5 text-dark">Author</h3>
                {% endif %}
                {{recipe.recauthor}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5 text-dark">Title</h3>
                {% endif %}
                {{recipe.name}}
            </div>
        </div>
    -->
    {% endfor %}
{% else %}
    <h1>No Recipes</h1>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock %}
</html>