{% extends "baseMain.html" %}

{% block body %}
        <h1></h1>

        <form method=post  enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }} <br>
                {{ form.name(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.genre.label }} <br>
                {{ form.genre()}}
                <!--List the errors for this field-->
                {% for error in form.genre.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.recauthor.label }} <br>
                {{ form.recauthor(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.recauthor.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>
                <br>
                {{ form.recimage() }}
                <!--List the errors for this field-->
                {% for error in form.recimage.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.summary.label }} <br>
                {{ form.summary(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.summary.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.ingredients.label }} <br>
                {{ form.ingredients(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.ingredients.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.time.label }} <br>
                {{ form.time(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.time.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>
                {{ form.recrecipe.label }} <br>
                {{ form.recrecipe(size=164) }}
                <!--List the errors for this field-->
                {% for error in form.recrecipe.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.tags.label }} <br>
                {{ form.tags(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.tags.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
